
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron text-center">
    <h1>About Us</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Why You Choose Us</h3>
            <p>
                This website is a cutting edge e-commerce platform which brings the latest local and international goods to your doorstep. We offer a wide selection of products from renowned brands in Bangladesh with a promise of fast, safe and easy online shopping experience. From electronics to fashion, there is bound to be something for everyone in this site.
                We offers Nationwide shipping and FREE returns! For your convenience we have several payment options including bKash and cash on delivery.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/cover1.jpg">
        </div>
    </div>
</div>
<!-- Container (Services Section) -->
<div class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h5>What we offer...</h5>
    <br>
    <div class="row">
        <div class="col-sm-4">

            <h4>Fast Delivery</h4>
            <p>We Provide fast easy delivery system all over in Bangladesh. We deliver our products through courier service.</p>
        </div>
        <div class="col-sm-4">
            <span class="fas fa-rocket"></span>
            <h4>Secure Payment</h4>
            <p>We provide secure payment system through offline and online. you can pay bill by bkash or hand to hand.</p>
        </div>
        <div class="col-sm-4">
            <span class="fas fa-store"></span>
            <h4>Premium Products</h4>
            <p>We ensure our products that is 100% premium and qualityful.</p>
        </div>
    </div>
    <br>
</div>

